.header.clearfix
  nav
    ul.nav.nav-pills.pull-right
        if (user)
            li.active(role='presentation')
                            a(href='/api/books') Books
            li.active(role='presentation')
                a(href='/logout') Logout

  h3.text-muted My app
