extends ../layouts/default.jade

block page-header


block content
    form(name="auth", method="post", action= 'http://localhost:3000/api/edit/' + book._id)
        div.input
            span Name:
                input(type="text", name="name", value=book.name)
        div.input
            span Release Year:
            input(type="text", name="releaseYear", value=book.releaseYear)
        div.input
            input(type="submit", value="ok")